.additional {
  margin-bottom: 35px;
}

.additional__title {
  @include title-middle;
  line-height: 24px;
  background-color: white;
  padding-bottom: 35px;
  padding-right: 25px;

  margin: 0;

  width: max-content;
  position: relative;
}

.additional__title::before {
  content: "";
  border: solid 1px #eeeeee;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 112.5%;
}

.additional__title::after {
  content: "";
  border: solid 2px $green;
  position: absolute;
  left: 0;
  top: 13px;
  width: 100vw;
  z-index: -1;
}

.additional ul {
  list-style: none;
}

.additional__item {
  padding-left: 0;
  margin: 0;

  table {
    width: 100%;
  }
}

.additional-item {
  position: relative;
}

.additional-item::after {
  content: "";
  border: solid 1px #eeeeee;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.additional-item__wrapper {
  padding-bottom: 18px;
  padding-top: 14px;
  height: 129px;
}

.additional-item__title {
  @include title-small;
  line-height: 16px;
  text-transform: uppercase;

  padding-bottom: 10px;
  padding-left: 2px;
}

.additional-item__info {
  @include text-all;
  line-height: 14px;
  font-family: $font-two;

  display: flex;
  width: 102.5%;

  padding-bottom: 10px;
  margin-left: -3px;
}

.additional-item__price {
  margin-left: auto;
  display: block;
}

.additional__button {
  color: white;
  font-size: 16px;
  line-height: 20px;
  margin-top: 1px;
}

.additional__button:hover {
  background-color: #5eaa2f;
}

.additional__button:active span {
  opacity: 0.3;
}

.additional__banner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 280px;
  height: 289px;
  color: white;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;

  margin-top: 39px;

  position: relative;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  span {
    @include text-all-tab;
    line-height: 20px;
    font-family: $font-two;

    display: flex;
    text-align: center;
    width: 60%;

    padding-bottom: 42px;
  }
}

.additional__banner::before {
  content: "";
  background-image: url("../img/svg/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: center;

  width: 60px;
  height: 60px;
  position: absolute;
  top: 65px;
}

@media (min-width: $tablet-width) {
  .additional {
    margin-bottom: 75px;
  }

  .additional__title {
    @include title-top;
    line-height: 36px;

    padding-bottom: 79px;
    padding-left: 37px;
    padding-right: 35px;

    width: 420px;
  }

  .additional__title::after {
    content: "";
    border: solid 2px $green;
    position: absolute;
    top: 20px;
    right: -10%;
    width: 100vw;

    z-index: -1;
  }

  .additional__title::before {
    content: "";
    border: solid 2px $green;
    position: absolute;
    bottom: 91px;
    left: -500%;
    width: 1000%;

    z-index: -1;
  }


  .additional-item__title {
    @include title-small-tab;
    line-height: 16px;
    text-transform: uppercase;

    margin: 0;
  }

  .additional-item__info {
    @include text-all-tab;
    line-height: 20px;
    font-family: $font-two;

    width: 75%;
    margin-left: auto;
    justify-content: flex-end;
  }

  .additional-item__price {
    margin-left: 0;
  }

  .additional__wrapper {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .additional-item__wrapper {
    width: 635px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 19px;

    td:first-child {
      padding-right: 50px;
    }

    td {
      margin-top: 5px;
    }

    table {
      width: 60%;
      margin-left: auto;
    }

    a {
      width: 100%;
    }
  }

  .additional-item {
    height: 140px;
    border: 2px solid $color-back;
    border-bottom: none;

    display: flex;
  }

  .additional__button {
    width: 100%;
  }

  .additional-item::after {
    content: "";
    display: none;
  }

  .additional-item:last-child {
    border-bottom: 2px solid $color-back;
  }

  .additional__banner {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    width: 708px;
    height: 200px;

    margin-top: 68px;

    justify-content: flex-start;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }

    span {
      width: 165px;
      text-align: start;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: auto;
      margin-right: 120px;

      padding-bottom: 0;
    }
  }

  .additional__banner-text {
    display: block;
  }

  .additional__banner::before {
    content: "";
    left: 89px;
    top: 65px;
  }
}

@media (min-width: $desktop-width) {
  .additional__wrapper {
    width: 1220px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .additional__item {
    width: 895px;
    height: 290px;

    margin: 0;
    margin-right: 80px;

    table {
      width: auto;
    }
  }

  .additional-item {
    height: 25%;
    border-right: none;
    border-left: none;

    margin-bottom: 0;
  }

  .additional-item__info {
    width: 325px;
    padding-bottom: 0;

    justify-content: flex-start;

    td:last-child {
      margin-left: auto;
    }
  }

  .additional-item__wrapper {
    width: 895px;
    height: auto;
    margin: 0;
    flex-wrap: wrap;
    align-items: center;

    padding-bottom: 10px;

    td:first-child {
      padding-right: 100px;
    }

    td:last-child {
      padding-right: 40px;
    }

    table {
      margin-left: auto;
    }

    a {
      width: 245px;
      margin-top: 0;
    }
  }

  .additional__title {
    padding-bottom: 79px;
    padding-left: 40px;
    padding-right: 35px;
    margin-left: -40px;

    width: max-content;
    background-color: white;
  }

  .additional__title::after {
    right: 0;
    top: 21px;
    width: 100vw;
    z-index: -1;
  }

  .additional__title::before {

    top: 21px;
    z-index: -1;
    left: -500%;
    width: 1000%;
  }

  .additional-item__title {
    padding-bottom: 0;
  }

  .additional__banner {
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    width: 245px;
    height: 290px;

    margin-top: 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }

    span {
      width: 165px;
      text-align: center;
      margin-top: auto;
      margin-bottom: 41px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .additional__banner::before {
    content: "";
    left: 93px;
    top: 65px;
  }
}
