
.advantages {
  padding-bottom: 20px;
}

.advantages__title {
  @include title-top;
  margin: 0;
  padding-bottom: 49px;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;

  position: relative;
}

.advantages__item {
  font-family: $font-two;

  @include text-all;
  line-height: 18px;
  padding-bottom: 20px;
  padding-left: 1px;

  display: flex;
}

.advantages__item.advantages__item--fast {
  margin-bottom: 21px;
}

.advantages__img {
  margin: auto;
}

.advantages__item-wrap {
  width: 200px;
  padding-top: 2px;
}

.advantages__item:last-child {
  padding-bottom: 0;
}

.advantages__icon {
  background-color: $green;
  width: 60px;
  height: 60px;

  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-bottom: 55px;
  }

  .advantages__item {
    @include title-small;
    width: 215px;
    height: 230px;
    line-height: 24px;

    margin-bottom: 79px;
    margin-top: 8px;
    padding: 0;
    padding-top: 15px;

    position: relative;

    display: flex;
    flex-direction: column;

    .advantages__item-wrap {
      display: block;
      width: 245px;
    }
  }

  .advantages__item:nth-child(1),
  .advantages__item:nth-child(3) {
    margin-right: 169px;
  }

  .advantages__item:nth-child(3),
  .advantages__item:nth-child(4) {
    margin-bottom: 15px;
  }

  .advantages__title {
    font-size: 60px;
    line-height: 60px;
  }

  .advantages__icon {
    width: 80px;
    height: 80px;

    margin-bottom: 30px;
  }

  .advantages__icon1::after {
    content: url("../../img/l1.png");
    position: absolute;

    right: 15px;
    top: 10px;

    z-index: -1;
  }

  .advantages__icon2::after {
    content: url("../../img/l2.png");
    position: absolute;

    right: -20px;
    top: 10px;

    z-index: -1;
  }

  .advantages__icon3::after {
    content: url("../../img/l3.png");
    position: absolute;

    right: -22px;
    top: 12px;

    z-index: -1;
  }

  .advantages__icon4::after {
    content: url("../../img/l4.png");
    position: absolute;

    right: -30px;
    top: 14px;

    z-index: -1;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding-bottom: 33px;
  }

  .advantages__item {
    line-height: 24px;
    width: 215px;
    height: 245px;
    margin-bottom: 100px;
    padding: 0;
    padding-top: 15px;
    margin-right: 110px;
  }

  .advantages__item:nth-child(1),
  .advantages__item:nth-child(3) {
    margin-right: 110px;
  }

  .advantages__icon {
    padding-top: 0;
  }

  .advantages__item:last-child {
    margin-right: 0;
  }

  .advantages__list {
    height: 300px;
  }
}
