.banner__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;

  margin: 0;
  padding-top: 29px;
  padding-bottom: 11px;
}

.banner__text {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 480px;
}

.banner__picture {
  text-align: center;
  padding-top: 15px;
}

.banner__buttom {
  text-align: center;


}

.banner__button-wrap {
  margin: 0;
  width: 280px;
  order: 2;

  a {
    color: white;
  }

  &:active .banner__button {
    opacity: 0.3;
  }
}

.banner__button-wrap:hover {
  background-color: #5eaa2f;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .banner {
    align-items: flex-start;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    min-height: auto;
    min-width: 768px;
  }

  .banner__title {
    margin: 0;
    padding-top: 35px;
    padding-left: 18px;
    padding-bottom: 41px;

    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    text-align: left;

    color: black;
  }

  .banner__picture {
    position: relative;
    right: 10px;
    z-index: -3;
    margin-top: -65px;
  }

  .banner__text {
    margin: 0;
    padding-bottom: 48px;
    padding-left: 19px;

    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: black;
  }

  .banner__button-wrap {
    left: 0;
    top: 300px;
    order: 0;

    font-size: 20px;
    line-height: 20px;
    font-weight: 400;

    width: 245px;
    height: 52px;

    margin-left: 20px;
  }

  .banner__image {
    width: 100%;
    margin-left: -60px;
    margin-top: -30px;
  }
}

@media (min-width: $desktop-width) {
  .banner {
    width: 100%;
    margin-left: 7%;
    margin-bottom: 0;
    height: auto;
  }

  .banner__title {
    padding-top: 92px;
    padding-left: 30px;
  }

  .banner__text {
    padding-left: 30px;
  }

  .banner__image {
    position: relative;
  }

  .banner__picture {
    position: absolute;
    right: 200px;
    top: -287px;
    z-index: 1;

    width: 550px;
    height: auto;
  }

  .banner__button-wrap {
    height: 52px;
    margin-top: 5px;

    margin-left: 30px;
  }
}
