.data__list {
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
}

.data__item {
  display: flex;
  padding-bottom: 13px;
}

.data__item:last-child {
  padding-bottom: 0;
}

@media (min-width: $tablet-width) {
  .data__list {
    padding-bottom: 73px;
  }

  .data__item {
    padding-bottom: 20px;
  }
}
