.exemplar {
  background-color: $color-back;
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

.exemplar__wrapper {
  width: 280px;
  padding-bottom: 10px;
  margin: 0 auto;
}

.exemplar__title {
  @include title-top;
  line-height: 60px;
  margin: 0;
  padding-top: 18px;
  padding-bottom: 24px;
}

.exemplar__info {
  @include text-all;
  font-family: $font-two;
  padding-bottom: 40px;
  width: 275px;
}


.exemplar__result {
  display: flex;
  justify-content: space-between;
  width: 230px;
  margin-left: 29px;

  padding-bottom: 18px;
}

.exemplar__expenses {
  @include text-all;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  padding-bottom: 25px;
}

.exemplar__after {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  padding-bottom: 35px;

  span {
    font-size: 16px;
    line-height: 16px;
  }
}

.exemplar__picture {
  width: 311px;
  height: 232px;
  margin-bottom: 52px;
}

.exemplar__btns-wrap {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.exemplar__btns {
  margin: 0;
  padding-left: 10px;
  display: flex;

  position: absolute;

  bottom: 31px;
  left: 48px;

  width: 220px;

  button {
    border: none;
    background: none;
    font-family: $font-one;

    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.exemplar__btn-result.exemplar__btn-result--after {
  margin-left: auto;
}

@media (min-width: $tablet-width) {
  .exemplar {
    width: 100vw;
    background-color: transparent;
    position: relative;

    margin-bottom: 110px;
  }

  .exemplar::after {
    content: "";
    background-color: $color-back;

    width: 100%;
    height: 462px;
    position: absolute;
    bottom: -74px;
    z-index: -1;
  }

  .exemplar__wrapper {
    width: 708px;
    padding-bottom: 76px;
  }

  .exemplar__title {
    font-size: 60px;
    line-height: 60px;

    position: relative;

    padding-top: 45px;
    padding-bottom: 63px;
  }

  .exemplar__title::before {
    content: "";

    border: solid 1px #eeeeee;
    position: absolute;
    top: 0;
    left: -10%;
    width: 120%;
  }

  .exemplar__info {
    font-size: 16px;
    line-height: 24px;

    font-family: $font-two;

    padding-bottom: 70px;

    width: 680px;
  }

  .exemplar__expenses {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    margin-left: auto;
    margin-top: -5px;

    width: 175px;

    span {
      display: inline-block;
      margin-top: 9px;
    }
  }

  .exemplar__total {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .exemplar__result {
    display: flex;
    justify-content: flex-start;

    margin: 0;
    padding-left: 15px;
    width: 367px;
  }

  .exemplar__picture {
    width: 660px;
    height: 500px;
    margin-bottom: 19px;
    margin-left: -15px;
  }

  .exemplar__after {
    span {
      font-size: 20px;
      line-height: 20px;
      font-weight: 400;
    }

    width: 570px;
    margin-left: auto;
    margin-right: auto;

    padding-bottom: 0;
    margin-top: 20px;
  }

  .exemplar__btns-wrap {
    position: relative;
    width: 650px;
    margin: 0 auto;
  }

  .exemplar__btns {
    bottom: -1px;
    left: 25px;

    width: 590px;

    button {
      font-size: 20px;
      line-height: 20px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  .exemplar__btn-result.exemplar__btn-result--after {
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .exemplar {
    width: 1400px;
    height: 595px;

    display: flex;
    flex-wrap: wrap;
    justify-content: start;

    margin-bottom: 0;
  }

  .exemplar::after {
    width: 150%;
    height: 462px;

    left: -25%;
    top: 135px;
  }

  .exemplar__wrapper {
    width: 450px;
    display: flex;

    padding-bottom: 65px;
    margin-right: 200px;
  }

  .exemplar__btns-wrap {
    position: relative;
    width: 650px;
    margin: 0 auto;
  }

  .exemplar__info-wrap {
    width: 450px;
    display: flex;
    flex-direction: column;

    padding-left: 41px;
  }

  .exemplar__total {
    margin-top: auto;
    justify-content: flex-start;
  }

  .exemplar__expenses {
    display: flex;

    margin-left: 0;
    margin-right: auto;
    padding-top: 41px;

    width: 475px;
    text-align: start;

    span {
      display: inline-block;
      margin-left: 61px;
      margin-top: 0;
      width: 90px;
    }
  }

  .exemplar__info {
    font-size: 16px;
    line-height: 24px;

    width: 435px;

    margin-bottom: 14px;
  }

  .exemplar__title {
    padding-bottom: 145px;
    padding-top: 0;
  }

  .exemplar__title::before {
    content: "";

    display: none;
  }

  .exemplar__picture {
    margin-top: -40px;
    margin-left: -55px;
  }

  .exemplar__after {
    margin-left: 75px;
    padding-top: 20px;
  }

  .exemplar__btns {
    margin: 0;
    display: flex;
    width: 590px;

    position: absolute;

    bottom: 0;
    left: 0;

    .after {
      margin-left: auto;
    }

    .options__label {
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;

      padding-left: 40px;
    }
  }

  .exemplar__btn-result.exemplar__btn-result--after {
    margin-left: auto;
  }
}
