.extra__legend {
  @include title-middle;
  line-height: 24px;
  text-transform: none;
  background-color: white;

  padding-right: 20px;
  margin-bottom: 34px;
  width: max-content;

  position: relative;
  display: block;
}

.extra__legend::after {
  content: "";
  border: solid 2px $green;
  position: absolute;
  left: 20px;
  top: 13px;
  width: 100vw;
  z-index: -1;
}

.extra__list {
  margin: 0;
  padding-bottom: 20px;
}

.extra__item {
  padding-bottom: 13px;
  display: block;
  width: max-content;
}

.extra__input {
  appearance: none;
  position: absolute;
}

.extra__label {
  padding-left: 45px;
  display: flex;
  align-items: center;
  height: 30px;

  position: relative;
  cursor: pointer;
}

.extra__label::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;

  width: 30px;
  height: 30px;

  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  z-index: 1;
}

.extra__label::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;

  width: 30px;
  height: 30px;

  background: url("../../img/svg/chb/tick.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
  opacity: 0;
}

.extra__label:hover::before {
  border: 1px solid #bcbcbc;
}

.extra__input:checked + .extra__label::after {
  opacity: 1;
}

.extra__input:active + .extra__label {
  opacity: 0.3;

  &::after,
  &::before {
    border: 1px solid #bcbcbc;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .extra__legend {
    @include title-middle-tab;
    line-height: 36px;

    padding-left: 36px;
    padding-right: 38px;
    padding-bottom: 22px;
    margin-left: -35px;

    width: 290px;
  }

  .extra__legend::after {
    content: "";
    border: solid 2px $green;
    position: absolute;
    top: 20px;
    left: 0;
    width: 100vw;

    z-index: -1;
  }

  .extra__legend::before {
    content: "";
    border: solid 2px $green;
    position: absolute;
    top: 20px;
    right: 0;
    width: 100vw;

    z-index: -1;
  }

  .extra__list {
    display: flex;
    flex-wrap: wrap;

    padding-bottom: 21px;
  }

  .extra__item {
    width: 35%;
    padding-bottom: 33px;
  }

  .extra__item:nth-child(1),
  .extra__item:nth-child(3) {

    margin-right: 125px;
  }

  .extra__label {
    padding-left: 60px;
    height: 40px;
  }

  .extra__label::before {
    width: 40px;
    height: 40px;
  }

  .extra__label::after {
    width: 40px;
    height: 40px;

    background: url("../../img/svg/chb/tick2.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: $desktop-width) {
  .extra__list {
    width: 1220px;
    padding-bottom: 28px;

    .extra__item {
      width: 245px;
      margin-right: 80px;
    }

    .extra__item:last-child {
      margin-right: 0;
    }
  }

  .extra__legend {
    margin-left: -37px;

    padding-left: 36px;
    padding-right: 40px;
    padding-bottom: 22px;
  }
}
