
.main-nav__button.main-nav__button--btn {
  display: none;
}

.main-nav__button {
  margin-left: auto;
  margin-right: 2px;
  display: block;
  position: relative;

  border: none;
  height: 20px;
  width: 25px;
  cursor: pointer;
  z-index: 2;
}

.main-nav.main-nav--closed .main-nav__button {
  background-color: white;
  background-image: url("../../img/svg/icon-mobile-menu.svg");
  background-repeat: no-repeat;
}

.main-nav.main-nav--opened .main-nav__button {
  background-color: white;
  background-image: url("../../img/svg/icon-close.svg");
  background-repeat: no-repeat;

  height: 20px;
  width: 20px;
}

.main-nav.main-nav--closed ~ .site-list {
  display: none;
}

.main-nav.main-nav--opened ~ .site-list {
  display: block;
}

@media (min-width: $tablet-width) {
  .main-nav__button {
    display: none;
  }
}
