@mixin title-top {
  font-size: 36px;
  font-weight: 400;
}

@mixin title-top-tab {
  font-size: 60px;
  font-weight: 400;
}

@mixin title-middle {
  font-size: 24px;
  font-weight: 400;
}

@mixin title-middle-tab {
  font-size: 36px;
  font-weight: 400;
}

@mixin title-small {
  font-size: 16px;
  font-weight: 400;
}

@mixin title-small-tab {
  font-size: 20px;
  font-weight: 400;
}

@mixin text-all {
  font-size: 14px;
  font-weight: 400;
}

@mixin text-all-tab {
  font-size: 16px;
  font-weight: 400;
}

@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}
