.page-main {
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;

}

.page-main__product-list {
  @include list-reset;

  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  a {
    @include title-small;
    line-height: 20px;
    color: white;
  }
}

.page-main__wrapper {
  width: 280px;
}

.page-main__background {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px 305px;
  width: 100%;
  height: 480px;

  margin-bottom: 23px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.page-main__title {
  @include title-top;
  line-height: 60px;
  font-weight: 400;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;


  margin: 0;
  padding-top: 20px;
  padding-bottom: 35px;
}

.page-main__wrapper.page-main__wrapper--catalog .page-main__title {
  margin-left: -11px;
  margin-top: -4px;
  padding-bottom: 30px;
}

.page-main__title::after {
  content: "";
  border: solid 1px #eeeeee;
  position: absolute;
  bottom: 0;
  left: -5px;
  width: 112.5%;
}

@media (min-width: $tablet-width) {
  .page-main {
    width: 768px;

    justify-content: center;
  }

  .page-main__wrapper {
    width: 708px;
  }

  .page-main__wrapper.page-main__wrapper--catalog {
    display: flex;
    flex-wrap: wrap;

    margin: 0 auto;
  }

  .page-main__background {
    display: flex;
    background-image: none;
    width: 570px;
    height: auto;
    margin: 0 auto;
  }

  .page-main__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-right: 0;
    padding-top: 40px;

    justify-content: flex-start;
  }

  .page-main__wrapper.page-main__wrapper--catalog .page-main__title {
    margin-left: -11px;
    padding-left: 11px;
    padding-top: 39px;
    padding-bottom: 30px;
  }

  .page-main__title::after {
    content: "";
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    width: 1300px;
    margin: auto;
    margin-bottom: 1px;

  }

  .page-main__wrapper {
    width: 1220px;
    padding-bottom: 1px;
  }

  .page-main__wrapper.page-main__wrapper--catalog {
    padding-bottom: 9px;
  }

  .page-main__background {
    background-image: none;
    width: 100vw;
    height: 700px;

  }

  .page-main__wrapper.page-main__wrapper--catalog .page-main__title {
    margin-left: -11px;
    margin-top: -7px;
    padding-top: 65px;
    padding-bottom: 31px;
  }

  .page-main__background::after {
    content: "";
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-size: auto 695px;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #64a83b;
    width: 50%;
    height: 695px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -2;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }
}
