

.product-list {
  padding-bottom: 27px;
}

.product-list__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 23px;

  margin-top: -1px;


  width: 100%;
  height: 210px;

  position: relative;
}

.product-list__item::after {
  content: "";
  border: solid 1px #eeeeee;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.product-list__img {
  width: 50%;
}

.product-list__text {
  width: 50%;
  height: 140px;
}

.product-item__pic {
  height: 140px;
}

.product-list__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;

  justify-content: flex-start;
}

h3 {
  @include title-small;
  line-height: 20px;
  text-transform: uppercase;

  margin: 0;
}

table {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;

  font-family: $font-two;
}

.product-list__wrapper.product-list__wrapper--more {
  padding-top: 80px;
  padding-bottom: 19px;

  display: flex;
  flex-direction: column;

  h3 {
    padding-bottom: 7px;
    padding-left: 3px;
    margin: 0 auto;
  }
}

.product-list__more {
  h3 {
    @include title-small;
    line-height: 20px;
    text-transform: uppercase;
  }

  span {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin: 0 auto;
    font-family: $font-two;
  }

  a {
    color: black;
    background-color: $color-back;
  }
}


.product-list__wrapper.product-list__wrapper--more::before {
  content: "";
  background-image: url("../img/svg/icon-plus-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;

  width: 30px;
  height: 30px;
  position: absolute;
  top: 26px;
  left: 125px;
}

.product-list__link-text {
  h3 {
    color: black;
  }
}

.product-list__title {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 10px;

  width: 70%;
}

.product-list__info {
  width: 105%;
  margin-left: -2px;

  tr {
    width: 100%;
    display: flex;
    height: 16px;
  }

  td:last-child {
    margin-left: auto;
  }
}

.product-list__button-show-all.button:hover {
  background-color: #ebebeb;
}

.product-list__button-show-all.button:active {
  color: #c3c3c3;
}

@media (min-width: $tablet-width) {
  .product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 135px;
    padding-bottom: 43px;

    width: 100%;
  }

  .product-list__item {
    width: 324px;
    height: 431px;
    background-color: $gray;
    margin-bottom: 140px;
    margin-right: 60px;
  }

  .product-list__item:nth-child(2n) {
    margin-right: 0;
  }

  .product-list__item:nth-last-child(1),
  .product-list__item:nth-last-child(2) {
    margin-bottom: 25px;
  }
  /* не понял как в скобках написать 1 и 2, чтобы одной строкой было. Через запятую не работает ч*/

  .product-list__wrapper {
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding-bottom: 40px;

    h3 {
      font-size: 20px;
      line-height: 20px;
      display: inline-block;
      width: 130px;
      text-align: center;
    }

    table {
      @include title-small;
      line-height: 16px;
      font-family: $font-two;

      width: 100%;
      padding-bottom: 33px;
    }

    td {
      height: 33px;
      display: flex;
      align-items: center;
    }

    td:nth-child(2n) {
      text-align: right;
    }
  }

  .product-list__wrapper.product-list__wrapper--more::before {
    content: "";
    background-image: url("../img/svg/icon-plus.svg");

    width: 60px;
    height: 60px;

    top: 56px;
    left: 133px;
  }

  .product-list__wrapper.product-list__wrapper--more {
    padding-bottom: 23px;

    h3 {
      padding-bottom: 30px;
      padding-left: 3px;
      margin: 0 auto;
    }
  }

  .product-list__item::after {
    display: none;
  }

  .product-item__button {
    width: 250px;
  }

  .product-item__button:hover {
    background-color: #5eaa2f;
  }

  .product-item__button:active span {
    opacity: 0.3;
  }

  .product-item__img {
    left: 0;
    top: -45px;
    position: absolute;
  }

  .product-item:nth-child(2n) .product-item__img {
    top: -83px;
  }

  .product-list__text {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 16px;

    width: 100%;
  }

  .product-list__title {
    padding-bottom: 16px;
    padding-top: 1px;
  }

  .product-list__info tr {
    position: relative;
    height: auto;
    width: 102%;
  }

  .product-list__info tr::after {
    content: "";
    border: solid 1px #cdcdcd;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .product-list__more {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 324px;
    height: 433px;
    margin-right: 0;
    background-color: white;
    border: solid 1px $gray;

    h3 {
      display: inline-block;
      width: 140px;

      padding-bottom: 29px;
    }

    span {
      font-size: 16px;
      line-height: 16px;
      font-family: $font-two;
      display: inline-block;
      width: 175px;
      text-align: center;
      padding-bottom: 61px;
    }
  }

  .product-list__button-show-all {
    width: 250px;
    margin-bottom: 15px;
  }
}

@media (min-width: $desktop-width) {
  .product-list {
    padding-bottom: 44px;
  }


  .product-list__item {
    width: 245px;
    height: 436px;

    margin-right: 80px;
    padding-bottom: 42px;
  }

  .product-item__button {
    width: 170px;
    margin-top: 10px;
  }

  .product-list__item:nth-child(2n) {
    margin-right: 80px;
  }

  .product-list__item:nth-child(4n) {
    margin-right: 0;
  }

  .product-list__item:nth-last-child(1),
  .product-list__item:nth-last-child(2),
  .product-list__item:nth-last-child(3),
  .product-list__item:nth-last-child(4) {
    margin-bottom: 25px;
  }

  .product-list__wrapper {
    width: 100%;


    table {
      padding-bottom: 25px;
    }

    position: relative;
  }

  .product-list__wrapper.product-list__wrapper--more {
    margin-top: 25px;
    margin-left: -1px;
    padding-bottom: 26px;
  }

  .product-item__img {
    height: auto;
    width: auto;
    position: absolute;
    left: 0;
    top: -47px;
  }

  .product-list__title {
    padding-bottom: 15px;
    padding-top: 4px;
  }

  .product-list__more {
    padding-bottom: 40px;
  }


  .product-list__info {
    display: flex;
    justify-content: center;
    padding-top: 5px;

    tr {
      width: 170px;
      height: 32px;
    }
  }

  .product-list__wrapper.product-list__wrapper--more::before {
    top: -28px;
    left: 92px;
  }

  .product-list__button-show-all {
    width: 170px;
    margin-bottom: 5px;
  }
}
