$green: #68b738;
$gray: #eeeeee;
$color-main: $green;
$color-back: $gray;

$font-one: "Oswald", "Arial", sans-serif;
$font-two: "Arial", sans-serif;

$tablet-width: 768px;
$desktop-width: 1300px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
